.tituloServicos {
    color: black; 
    margin-bottom: 30px;
}

.listaServicos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 70px;
}

.cartaoServico {
    width: 200px; 
    padding: 20px;
}

.botaoAgendar {
    margin-top: 10px;
    background-color: #4da6ffa6;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .botaoAgendar:hover {
    background-color: #4da6ffa6;
  }