/* Estilo da página home */

.paginaContainer {
    display: flex;
    height: 96vh;
}

.conteudoPrincipal {
    padding: 20px;
    margin-left: 240px; 
    overflow-y: auto;
}

.saudacaoCentralizada {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black; 
    margin-top: 20px; /*Arrumar a página para que não corte as informações do serviço*/
}

.nomeDestaque {
    color: #A7C4E7; 
}

.tituloServicos {
    color: black; 
    margin-bottom: 30px;
}

.listaServicos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 70px;
}

.cartaoServico {
    width: 200px; 
    padding: 20px;
}
